@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.square {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 10px;
    display: flex;  /* Utilisation de Flexbox pour centrer le texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}


.value {
    font-size: 36px;
    font-family: "Montserrat", system-ui;
    font-weight: 700;
    font-style: italic;
}